/* ------ Global ------ */
:root {
  --blue: #439ede;
  --dark-blue: #016539;
  --light-black: #070707;
  --off-white: #fafbf6;
  --orange: #F39C12;
  --light-grey: #f0f0f0;
  --grey: grey;
  --border-grey: #c4c4c4
}

body {
  background-color: var(--off-white) !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--light-black);
}

p {
  line-height: 1.7;
}

a {
  color: var(--blue);
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

a:hover {
  color: var(--orange);
  text-decoration: underline dotted;
}

a:active {
  color: var(--orange);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media (min-width: 1400px) {
    .container {
        max-width: 960px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 960px !important;
    }
}

/* ------ Components ------ */
.left-border {
  background-color: var(--blue);
  position: fixed;
  top: 0; bottom: 0;
  width: 15px;
}

.footer {
  color: var(--grey);
}

.external-link {
  margin-top: -3px;
  margin-left: -5px;
  height: 15px;
  width: 15px;
}

.selected-link {
  color: var(--orange);
  text-decoration: underline dotted !important;
}

.social-link-first  {
  margin: 5px 0px 5px 0px;
}

.social-link-first:hover  {
  text-decoration: none !important;
}

.social-link  {
  margin: 5px 0px 5px -6px;
}

.social-link:hover  {
  text-decoration: none !important;
}

.social-group {
  display: block;
}

@media (min-width: 800px) {
  .social-group {
    float: right;
    display: block;
  }
}

@media (min-width: 800px) {
  .social-footer {
    display: none;
  }
}

.underline:hover {
  color: var(--orange);
  text-decoration: underline dotted;
}

.no-underline:hover {
  text-decoration: none !important;
}


.blog-post {
  border-left: 5px solid rgba(243,156,18,0.0);
}

.blog-post:hover {
  border-left: 5px solid rgba(243,156,18, 1.0);
  transition: ease-in-out 0.3s;
}

.blue-btn {
  background-color: var(--blue);
  color: white;
  margin-top: -20px;
}

.blue-btn:hover {
  background-color: var(--orange);
  transition: ease-in-out 0.3s;
  color: white;
}

.sidebar {
  border-left: 1px solid var(--border-grey);
}


/* ------ Fonts ------ */
.space-mono {
  font-family: 'Space Mono', monospace;
}

/* ------ Animation ------ */
.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* ------ Colours ------ */
.light-black, .light-black:hover {
  color: var(--light-black) !important;
}

/* ------ BackgroundColours ------ */
.bkg-blue {
   background-color: var(--blue) !important;
}

/* ------ Hovers ------ */
.hover-orange:hover {
  background-color: var(--orange) !important;
}

/* ------ Blog ------ */
.article {
  font-size: 1.1rem;
}

.blog-title {
  color: var(--blue);
  transition: ease-in-out 0.3s;
}

.blog-title:hover {
  color: var(--orange);
}

/* ------ Home ------ */
.home-icon {
  width: calc(1.3rem + .6vw);
  height: calc(1.3rem + .6vw);
}