{% extends "base.html" %}

{% block title %}Sebastian David Lees · 404{% endblock %}
{% block description %}Personal and professional homepage of Sebastian David Lees. Sebastian is a software engineer and tinkerer who has spent over fifteen years building web applications and online experiences.{% endblock description %}

{% block content %}
<section class="content">
  <div class="container mt-3">
    <div class="row">
      <div>
        <h3 class="lh-100 space-mono text-center my-5">404 Not Found</h3>
      </div>           
    </div>
  </div>
</section><!-- /#content -->
{% endblock content %}
