{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block description %}Sebastian is a software engineer and tinkerer who has spent over fifteen years building web applications and online experiences.{% endblock description %}

{% block content %}

<section class="content">
<div class="container mt-3">
  <div class="row">
    <div class="col-md-12 lh-100">
      <div>
        <div class="lh-100 w-100 mb-5">
          <h4 class="mb-0 lh-100 space-mono">About Sebastian David Lees</h4>
          <p class="mt-3">Sebastian is a software engineer and technologist who has spent over fifteen years building software across healthcare, media, and finance. In 2013 Sebastian founded Datablast - a <a href="https://datablast.com">digital product consultancy</a>, with clients as diverse as the NHS, Global Media, Strava, Barclay's and Schroders. He enjoys bringing novel approaches (such as behavioural science) to software design in order to create unique products.</p>
          <p>He holds an MSc in Software Engineering from the University of Oxford, and is a Fellow of the Royal Society of Arts. He enjoys <a href="{{ SITEURL }}/photography">hobby photography</a>, and lives in the Cotswolds.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section><!-- /#content -->

<script>
  let element = document.getElementById("about-link");
  element.classList.add("selected-link");
</script>

{% endblock content %}
