{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block image %}https://sebs.website/static/seb.png{% endblock image %}
{% block description %}Sebastian is a software engineer and tinkerer who has spent over fifteen years building web applications and online experiences.{% endblock description %}

{% block content %}

<section class="content">
<div class="container mt-3">
  <div class="row">
    <div class="col-md-12 lh-100">
      <div>
        <div class="lh-100 w-100 mb-5">
          <h4 class="mb-0 lh-100 space-mono">About Sebastian David Lees</h4>
          <h5 class="mb-0 mt-4 lh-100 space-mono">Official Bio</h4>
          <p class="mt-3">Sebastian is a software engineer and technologist who has spent over fifteen years building software across healthcare, media, and finance. In 2013 Sebastian founded Datablast - a <a href="https://datablast.com">software consultancy</a>, with clients as diverse as the NHS, Global Media, Strava, Barclay's and Schroders. He enjoys bringing novel approaches (such as behavioural science) to software design in order to create unique products - a process he calls "tinkering with convexity".</p>
          <p>He holds an MA from the University of Chester, an MSc in Software Engineering from the University of Oxford, and is a Fellow of the Royal Society of Arts. He enjoys <a href="{{ SITEURL }}/photography">hobby photography</a>, and lives in London.</p>
        </div>
        <div class="lh-100 w-100">
          <h5 class="mb-0 lh-100 space-mono">Unofficial Bio</h4>
            <p class="mt-3">Let me get this off my chest... I've never been comfortable with the concept of having one specific role, job description, or philosophy. So far I've been an ice cream, advertising, and software salesman, a manager in an emergency room, a software developer, and an entrepreneur. Outside of ways I've chosen to make money, I enjoy exploring an eclectic range of ideas, and creating new things.</p>
            <p>This website, therefore, is an attempt to weave together the various strands of my life.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section><!-- /#content -->

<script>
  let element = document.getElementById("about-link");
  element.classList.add("selected-link");
</script>

{% endblock content %}
