{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.summary }}{% endblock description %}
{% block image %}{{ SITEURL }}/img/{{ article.thumbnail }}{% endblock image %}

{% block content %}
<section class="content">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-9">
        <div class="articles">
          <div class="mb-5">
              <div class="row pb-2">
                <div class="pe-3 light-black">
                  <div class="mb-4">
                    <h4 class="lh-100 space-mono">{{ article.title}}</h4>
                  </div>
                  <div>
                    {{ article.content }}
                  </div>
                  <div class="w-100">  
                    {% for tag in article.tags %}
                      <a href="{{ SITEURL }}/{{ tag.url }}" class="badge rounded-pill text-bg-primary mt-3 bkg-blue hover-orange me-1" style="text-decoration: none !important;">{{ tag.name }}</a>
                    {% endfor %}
                    <a onclick="window.navigator.clipboard.writeText(window.location.href);" type="button" class="badge rounded-pill text-bg-primary mt-3 bkg-blue hover-orange float-end ms-1"><i class="fa-solid fa-link"></i></a>
                    <a href="http://www.facebook.com/sharer/sharer.php?u=https://sebs.website{{ article.url }}&title={{ article.title }}" class="badge rounded-pill text-bg-primary mt-3 bkg-blue hover-orange float-end ms-1"><i class="fa-brands fa-facebook"></i></a>
                    <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.sebs.website/{{ article.url }}&title={{ article.title }}&source=https://sebs.website" class="badge rounded-pill text-bg-primary mt-3 bkg-blue hover-orange float-end ms-1"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="http://twitter.com/intent/tweet?text={{ article.title }}+https://sebs.website/{{ article.url }}" class="badge rounded-pill text-bg-primary mt-3 bkg-blue hover-orange float-end ms-1"><i class="fa-brands fa-x-twitter"></i></a>
                  </div>
                  <div class="mt-3">
                    <hr class="mt-3 w-100">
                    <h5 class="small footer mt-3">{{ article.locale_date }}</h5>
                  </div>
                  <div class="relative h-12 text-center mt-5">
                    {% if article.prev_article %}
                    <a href="/{{ article.prev_article.url}}">
                        <button
                            class="btn blue-btn rounded-full px-4 py-2">
                            Back
                        </button></a>
                    {% endif %}
                    {% if article.next_article %}
                    <a href="/{{ article.next_article.url}}">
                        <button
                            class="btn blue-btn rounded-full px-4 py-2">
                            Next
                        </button></a>
                    {% endif %}
                  </div>
                  <hr class="mt-5">
                  <p>If you've made it this far I owe you a beer the next time I see you 🍺. Want to get in touch? <a href="http://twitter.com/sebs_tweets">Follow me on Twitter(X)</a>.</p>
                  <hr>
                </div>
              </div>
            </a>
          </div>  
        </div>
      </div>
      <div class="col-md-3 d-none d-md-block">
        <div class="sticky-top pt-2">
          <div class="sidebar p-2">
            <h4 class="lh-100 space-mono">Tags</h4>
            <div class="mt-3">
              <div class="w-100">
                <a href="/blog" id="tag-all">All</a>
              </div>
              {% for tag, articles in tags|sort %}
                <div class="w-100">
                  <a href="/{{ tag.url }}" id="tag-{{ tag.slug }}">{{ tag }}</a>
                </div>
              {% endfor %}
            </div>
          </div>  
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  let element = document.getElementById("blog-link");
  element.classList.add("selected-link");
</script>

{% endblock %}
