{% extends "base.html" %}

{% block title %}Sebastian David Lees · Articles{% endblock %}
{% block og_title %}Sebastian David Lees · Articles{% endblock og_title %}
{% block description %}Articles by Sebastian David Lees on Software Development, Pubs, Fractals, Lifestyle and other stuff.{% endblock description %}
{% block x_description %}Articles by Sebastian David Lees on Software Development, Pubs, Fractals, Lifestyle and other stuff.{% endblock x_description %}
{% block og_description %}Articles by Sebastian David Lees on Software Development, Pubs, Fractals, Lifestyle and other stuff.{% endblock og_description %}
{% block og_image %}https://sebs.website/static/seb.png{% endblock og_image %}
{% block x_image %}https://sebs.website/static/seb.png{% endblock x_image %}

{% block content %}
<section class="content">
  <div class="container mt-5">
    <div class="row">
      <div class="lh-100 w-100">
        <h3 class="mb-0 lh-100 space-mono">🖋️ Articles</h3>
        <hr class="mb-4">
      </div>
    </div>
    <div>
      {% for article in articles_page.object_list %}
      {% if article.category in IGNORE_CATEGORIES_ON_MAIN %}
      {% else %}
      <div class="row post">
          <header class="posttitle">
            <h3><a href="{{ SITEURL }}/{{ article.url }}"
                    rel="bookmark"
                    class="nodec"
                    title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
            </h3>
          </header>
          <div class="postinfo">
            <p class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </p>
            {% if article.author and SHOW_ARTICLE_AUTHOR %}
            <address class="vcard author">By <a "nodec" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></address>
            {% endif %}
          </div><!-- /.postinfo -->
          <div class="postsummary"> {{ article.summary }} </div>
          <hr>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section><!-- /#content -->

{% endblock content %}
