{% extends "base.html" %}

{% block title %}Sebastian David Lees · Homepage{% endblock %}
{% block og_title %}Sebastian David Lees · Homepage{% endblock og_title %}
{% block description %}Personal and professional homepage of Sebastian David Lees. Sebastian is a software engineer and tinkerer who has spent over fifteen years building web applications and online experiences.{% endblock description %}
{% block x_description %}Personal and professional homepage of Sebastian David Lees. Sebastian is a software engineer and tinkerer who has spent over fifteen years building web applications and online experiences.{% endblock x_description %}
{% block og_description %}Personal and professional homepage of Sebastian David Lees. Sebastian is a software engineer and tinkerer who has spent over fifteen years building web applications and online experiences.{% endblock og_description %}
{% block og_image %}https://sebs.website/static/seb.png{% endblock og_image %}
{% block x_image %}https://sebs.website/static/seb.png{% endblock x_image %}

{% block content %}

<section class="content">
  <div class="container mt-3">
    <div class="row">
      <div class="lh-100 w-100">
        <h3 class="mb-0 lh-100 space-mono">👋 Hello</h3>
          <p class="mt-3">I'm a software engineer & technologist, and have been building digital products for 15+ years. You can read more <a href="{{ SITEURL }}/about">about me</a> here.</p>
        <hr class="mb-4">
      </div>
      <div class="lh-100 w-100">
        <h3 class="mb-0 lh-100 space-mono">🖋️ Blog</h3>
        <p class="mt-3">Over the years I've written articles on software development, pubs, and other stuff. You can read them <a href="{{ SITEURL }}/blog">on my blog</a>.</p>
        <hr>
      </div>
      <div class="lh-100 w-100"></div>
        <h3 class="mb-0 lh-100 space-mono">👷 Consulting</h3>
        <p class="mt-3">Need help building software? I offer a range of <a href="{{ SITEURL }}/consulting">software consulting services</a>.</p>
        <hr class="mb-4">
      </div>      
      <div class="lh-100 w-100">
        <h3 class="mb-0 lh-100 space-mono">🛠️ Projects</h3>
          <p class="mt-3">The various <a href="{{ SITEURL }}/projects">projects</a> I've tinkered with, created, or am currently working on.</p>
        <hr>
      </div>
      <div class="lh-100 w-100"></div>
        <h3 class="mb-0 lh-100 space-mono">🎙️ Talks & Interviews</h3>
          <p class="mt-3"><a href="{{ SITEURL }}/talks-and-interviews">Talks & interviews</a> I've given, podcasts I've been on, and other appearances.</p>
        <hr>
      </div>      
    </div>
  </div>
</section><!-- /#content -->

<script>
  let element = document.getElementById("home-link");
  element.classList.add("selected-link");
</script>

{% endblock content %}
