{% extends "base.html" %}

{% block title %}Sebastian David Lees · Homepage{% endblock %}
{% block description %}Personal and professional homepage of Sebastian David Lees. Sebastian is a software engineer and tinkerer who has spent over fifteen years building web applications and online experiences.{% endblock description %}

{% block content %}

<section class="content">
  <div class="container mt-3">
    <div class="row">
      <div>
        <img src="./theme/svg/hello.svg" alt="Waving hand" class="rounded-2 me-3 float-start home-icon">
        <h3 class="lh-100 space-mono">Hello</h3>
      </div>      
      <div>
        <p class="mt-1">I'm a software engineer & technologist, and have been building digital products for 15+ years. You can read more <a href="{{ SITEURL }}/about">about me</a> here.</p>
      </div>
      <hr>
      <div>
        <img src="./theme/svg/blog.svg" alt="A notebook and pencil" class="rounded-2 me-3 float-start home-icon" height="30px" width="30px">
        <h3 class="lh-100 space-mono">Blog</h3>
      </div>      
      <div>
        <p class="mt-1">Over the years I've written articles on software development, pubs, and other stuff. You can read them <a href="{{ SITEURL }}/blog">on my blog</a>.</p>
      </div>
      <hr>
      <div>
        <img src="./theme/svg/talks-and-interviews.svg" alt="An old fashioned microphone" class="rounded-2 me-3 float-start home-icon" height="30px" width="30px">
        <h3 class="lh-100 space-mono">Talks</h3>
      </div>      
      <div>
        <p class="mt-1"><a href="{{ SITEURL }}/talks-and-interviews">Talks & Interviews</a> I've given, podcasts I've been on, and other appearances.</p>
        </p>
      </div>
      <hr>      
      <div>
        <img src="./theme/svg/datablast.svg" alt="Datablast logo" class="rounded-2 me-3 float-start home-icon" height="30px" width="30px">
        <h3 class="lh-100 space-mono">Datablast</h3>
      </div>      
      <div>
        <p class="mt-1"><a href="https://datablast.com">Datablast</a> is a digital product consultancy I established in 2013, through which I do all my client work.</p>
      </div>
      <hr>
      <div>
        <img src="./theme/svg/fat-tonys.svg" alt="Fat Tony's logo" class="rounded-2 me-3 float-start home-icon" height="30px" width="30px">
        <h3 class="lh-100 space-mono">Fat Tony's</h3>
      </div>      
      <div>
        <p class="mt-1">In 2020, I created <a href="https://fattonys.net">Fat Tony's</a>, a podcast and community designed to help people navigate modernity.</p>
      </div>
      <hr>
      <div>
        <img src="./theme/svg/photography.svg" alt="A landscape photo" class="rounded-2 me-3 float-start home-icon" height="30px" width="30px">
        <h3 class="lh-100 space-mono">Photography</h3>
      </div>      
      <div>
        <p class="mt-1">I'm a <a href="{{ SITEURL }}/photography">hobby photographer</a>, and Leica fan. I enjoy taking photos of my travels - mainly street and architectural photography.</p>
      </div>
      <hr>
    </div>
  </div>
</section><!-- /#content -->

<script>
  let element = document.getElementById("home-link");
  element.classList.add("selected-link");
</script>

{% endblock content %}
