{% extends "base.html" %}

{% block title %}Sebastian David Lees · Homepage{% endblock %}
{% block og_title %}Sebastian David Lees · Homepage{% endblock og_title %}
{% block description %}Personal and professional homepage of Sebastian David Lees. Sebastian is a software engineer and tinkerer who has spent over fifteen years building web applications and online experiences.{% endblock description %}
{% block x_description %}Personal and professional homepage of Sebastian David Lees. Sebastian is a software engineer and tinkerer who has spent over fifteen years building web applications and online experiences.{% endblock x_description %}
{% block og_description %}Personal and professional homepage of Sebastian David Lees. Sebastian is a software engineer and tinkerer who has spent over fifteen years building web applications and online experiences.{% endblock og_description %}
{% block og_image %}https://sebs.website/static/seb.png{% endblock og_image %}
{% block x_image %}https://sebs.website/static/seb.png{% endblock x_image %}

{% block content %}

<section class="content">
  <div class="container mt-5">
    <div class="row">
      <div class="lh-100 w-100">
        <h3 class="mb-0 lh-100 space-mono">🚧 What I'm currently working on</h3>
          <p class="mt-3">Doing client work, tinkering with <a href="https://go.dev/">Go</a>, and trying to improve my maths skills.</p>
        <hr class="mb-4">
      </div>
      <div class="lh-100 w-100">
        <h3 class="mb-0 lh-100 space-mono">❓ About</h3>
          <p class="mt-3">I'm a software engineer and have been building digital products for 15+ years. You can <a href="/about">read more</a> here.</p>
        <hr class="mb-4">
      </div>
      <div class="lh-100 w-100">
        <h3 class="mb-0 lh-100 space-mono">🖋️ Articles</h3>
        <p class="mt-3">Over the years I've written articles on software development, pubs, and other stuff. You can read them <a href="https://blog.sebs.website">here</a>.</p>
        <hr>
      </div>
      <div class="lh-100 w-100">
        <h3 class="mb-0 lh-100 space-mono">📸 Photography</h3>
          <p class="mt-3">I'm a hobby photographer, and Leica fan. I enjoy taking photos of my travels, mainly <a href="/photography">street and architectural photography</a>.</p>
        <hr>
      </div>
      <div class="lh-100 w-100">
        <h3 class="mb-0 lh-100 space-mono">🎙️ Podcast</h3>
        <p class="mt-3">In 2020, I created <a href="https://fattonys.net">Fat Tony's</a>, a podcast and community designed to help people navigate modernity.</p>
        <hr class="mb-4">
      </div>
    </div>
  </div>
</section><!-- /#content -->

<script>
  let element = document.getElementById("home-link");
  element.classList.add("selected-link");
</script>

{% endblock content %}
