{% extends "base.html" %}

{% block title %}Sebastian David Lees · Photography{% endblock %}
{% block og_title %}Sebastian David Lees · Photography{% endblock og_title %}
{% block description %}I'm a hobby photographer (and Leica fan). I enjoy architectural and street photography. For more photos, please see my Instagram account.{% endblock description %}
{% block x_description %}I'm a hobby photographer (and Leica fan). I enjoy architectural and street photography. For more photos, please see my Instagram account.{% endblock x_description %}
{% block og_description %}I'm a hobby photographer (and Leica fan). I enjoy architectural and street photography. For more photos, please see my Instagram account.{% endblock og_description %}
{% block og_image %}https://sebs.website/static/seb.png{% endblock og_image %}
{% block x_image %}https://sebs.website/static/seb.png{% endblock x_image %}

{% block content %}

<section class="content">
  <div class="container mt-5">
    <div class="row">
      <div class="lh-100 w-100">
        <h3 class="mb-0 lh-100 space-mono">📸 Photography</h3>
        <p class="mt-3">I'm a hobby photographer (and Leica fan). I enjoy architectural and street photography. For more photos, <a href="https://www.instagram.com/sebs.photographs/">follow me on Instagram.</a></p>
        <hr class="mb-4">
      </div>
    </div>
    <div>
      <div class="embedsocial-hashtag" data-ref="af8d855bca09a2a6ee927b59605470b0be909d61"></div>
      <script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialHashtagScript"));document.getElementById('es-header').style.visibility = "hidden";</script>
    </div>
  </div>
</section><!-- /#content -->

<script>
  let element = document.getElementById("photography-link");
  element.classList.add("selected-link");
</script>

{% endblock content %}
