{% extends "base.html" %}

{% block title %}Projects{% endblock %}
{% block image %}https://sebs.website/static/seb.png{% endblock image %}
{% block description %}The projects I've created or are currently working on{% endblock description %}

{% block content %}

<section class="content">
  <div class="container mt-3">
    <div class="row">
      <div class="lh-100">
        <div class="projects">
            <a class="no-underline" href="https://datablast.com">
              <div class="row blog-post">
                <div class="col-md-2">
                  <img src="{{ SITEURL }}/theme/img/datablast.webp" width="100%" class="rounded-2" />
                </div>
                <div class="col-md-10 light-black">
                  <h4 class="mb-0 lh-100 space-mono">Datablast</h4>
                  <p class="mb-0">A software development consultancy I established in 2013, through which I do all my consulting / contracting / client work.</p>
                </div>
              </div>
            </a>
            <hr>
            <a class="no-underline" href="https://fattonys.net">
              <div class="row blog-post">
                <div class="col-md-2">
                  <img src="{{ SITEURL }}/theme/img/fat-tonys.webp" width="100%" class="rounded-2" />
                </div>
                <div class="col-md-10 light-black">
                  <h4 class="mb-0 lh-100 space-mono">Fat Tony's</h4>
                  <p class="mb-0">In 2020, I created Fat Tony's, a podcast and community designed to help people navigate modernity.</p>
                </div>
              </div>
            </a>
            <hr>
            <a class="no-underline" href="{{ SITEURL }}/photography">
              <div class="row blog-post">
                <div class="col-md-2">
                  <img src="{{ SITEURL }}/theme/img/photography.webp" width="100%" class="rounded-2" />
                </div>
                <div class="col-md-10 light-black">
                  <h4 class="mb-0 lh-100 space-mono">Photography</h4>
                  <p class="mb-0">I'm a hobby photographer, and Leica fan. I enjoy taking photos of my travels - mainly street and architectural photography.</p>
                </div>
              </div>
            </a>
            <hr>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  let element = document.getElementById("projects-link");
  element.classList.add("selected-link");
</script>

{% endblock content %}
