{% extends "base.html" %}

{% block title %}Projects{% endblock %}
{% block og_title %}Projects{% endblock og_title %}
{% block description %}Various projects I have created in my spare time.{% endblock description %}
{% block x_description %}Various projects I have created in my spare time.{% endblock x_description %}
{% block og_description %}Various projects I have created in my spare time.{% endblock og_description %}
{% block og_image %}https://sebs.website/static/seb.png{% endblock og_image %}
{% block x_image %}https://sebs.website/static/seb.png{% endblock x_image %}

{% block content %}

<section class="content">
<div class="container mt-3">
  <div class="row">
    <div class="col-md-12 lh-100">
      <div>
        <div class="lh-100 w-100 mb-5">
          <h4 class="mb-0 lh-100 space-mono">Projects</h4>
          <p class="mt-3">Sebastian is a software engineer and technologist who has spent over fifteen years building software across healthcare, media, and finance. In 2013 Sebastian founded Datablast - a <a href="https://datablast.com">software consultancy</a>, with clients as diverse as the NHS, Global Media, Strava, Barclay's and Schroders.</p>
          <p>Outside of client work, he enjoys bringing novel approaches (such as behavioural science) to software design in order to create unique products - a process he calls "tinkering with convexity".</p>
          <p>He holds an MA from the University of Chester, an MSc in Software Engineering from the University of Oxford, and is a Fellow of the Royal Society of Arts. He enjoys <a href="{{ SITEURL }}/photography">hobby photography</a>, and lives in London.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section><!-- /#content -->

<script>
  let element = document.getElementById("projects-link");
  element.classList.add("selected-link");
</script>

{% endblock content %}
