{% extends "base.html" %}

{% block title %}{{ tag.name }} · Blog{% endblock %}
{% block image %}https://sebs.website/static/seb.png{% endblock image %}
{% block description %}Blog articles on {{ tag.name }} by Sebastian David Lees.{% endblock description %}

{% block content %}

<section class="content">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-9">
        <div class="articles">
          {% for article in articles %}
            <div class="mb-5">
                <div class="row pb-2">
                  <div class="pe-3 light-black">
                    <div class="mb-4">
                      <a href="/blog/{{ article.slug }}">
                        <h4 class="lh-100 space-mono blog-title">{{ article.title}}</h4>
                      </a>
                    </div>
                    <div>
                      {{ article.content }}
                    </div>
                    <div class="w-100">  
                      {% for tag in article.tags %}
                        <a href="{{ SITEURL }}/{{ tag.url }}" class="badge rounded-pill text-bg-primary mt-3 bkg-blue hover-orange me-1" style="text-decoration: none !important;">{{ tag.name }}</a>
                      {% endfor %}
                      <a onclick="window.navigator.clipboard.writeText(window.location.href);" type="button" class="badge rounded-pill text-bg-primary mt-3 bkg-blue hover-orange float-end ms-1"><i class="fa-solid fa-link"></i></a>
                      <a href="http://www.facebook.com/sharer/sharer.php?u=https://sebs.website{{ article.url }}&title={{ article.title }}" class="badge rounded-pill text-bg-primary mt-3 bkg-blue hover-orange float-end ms-1"><i class="fa-brands fa-facebook"></i></a>
                      <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.sebs.website/{{ article.url }}&title={{ article.title }}&source=https://sebs.website" class="badge rounded-pill text-bg-primary mt-3 bkg-blue hover-orange float-end ms-1"><i class="fa-brands fa-linkedin"></i></a>
                      <a href="http://twitter.com/intent/tweet?text={{ article.title }}+https://sebs.website/{{ article.url }}" class="badge rounded-pill text-bg-primary mt-3 bkg-blue hover-orange float-end ms-1"><i class="fa-brands fa-x-twitter"></i></a>
                    </div>
                    <div class="mt-3">
                      <hr class="mt-3 w-100">
                      <h5 class="small footer mt-3">{{ article.locale_date }}</h5>
                    </div>
                  </div>
                </div>
              </a>
            </div>  
          {% endfor %}
        </div>
      </div>
      <div class="col-md-3 d-none d-md-block">
        <div class="sticky-top pt-2">
          <div class="sidebar p-2">
            <h4 class="lh-100 space-mono">Tags</h4>
            <div class="mt-3">
              <div class="w-100">
                <a href="/blog" id="tag-all">All</a>
              </div>
              {% for tag, articles in tags|sort %}
                <div class="w-100">
                  <a href="/{{ tag.url }}" id="tag-{{ tag.slug }}">{{ tag }}</a>
                </div>
              {% endfor %}
            </div>
          </div>  
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  let link_element = document.getElementById("blog-link");
  link_element.classList.add("selected-link");
  let tag_element = document.getElementById("tag-{{tag.slug}}");
  tag_element.classList.add("selected-link");
</script>

{% endblock content %}
