{% extends "base.html" %}

{% block title %}Projects{% endblock %}
{% block image %}https://sebs.website/static/seb.png{% endblock image %}
{% block description %}The projects I've created or are currently working on{% endblock description %}

{% block content %}

<section class="content">
  <div class="container mt-3">
    <div class="row">
      <div class="lh-100">
        <div class="projects">
          <a class="no-underline" href="https://open.spotify.com/episode/22S2vaW9LF97U5LKmE5L98">
            <div class="row blog-post">
              <div class="col-md-1">
                <img src="{{ SITEURL }}/theme/img/creative-odyssey.png" width="100%" class="rounded-2 mb-2 mt-2" />
              </div>
              <div class="col-md-11 light-black">
                <h4 class="mb-0 lh-100 space-mono mb-2 mt-2">Creative Odyssey Podcast</h4>
                <p class="mb-0">Talking with host Emil Drud about what how to design great software.</p>
              </div>
            </div>
          </a>
          <hr>          
            <a class="no-underline" href="https://podcasts.apple.com/gb/podcast/054-the-bed-of-procrustes-nassim-taleb-incerto-series/id1537462327?i=1000669348231">
              <div class="row blog-post">
                <div class="col-md-1">
                  <img src="{{ SITEURL }}/theme/img/rational-vc.png" width="100%" class="rounded-2 mb-2 mt-2" />
                </div>
                <div class="col-md-11 light-black">
                  <h4 class="mb-0 lh-100 space-mono mb-2 mt-2">Rational VC Podcast</h4>
                  <p class="mb-0">Talking with hosts Cyrus Yari and Iman Olay about the book Bed of Procrustes by Nassim Taleb. Many topics discussed covering approaches to life and software development.</p>
                </div>
              </div>
            </a>
            <hr>
            <a class="no-underline" href="https://www.humanriskpodcast.com/sebastian-lees-on-humanizing-technology/">
              <div class="row blog-post">
                <div class="col-md-1">
                  <img src="{{ SITEURL }}/theme/img/human-risk.png" width="100%" class="rounded-2 mb-2 mt-2" />
                </div>
                <div class="col-md-11 light-black">
                  <h4 class="mb-0 lh-100 space-mono mb-2 mt-2">Human Risk Podcast</h4>
                  <p class="mb-0">Talking with host Christian Hunt about humanising technology, and the hidden risk of catastrophic bugs.</p>
                </div>
              </div>
            </a>
            <hr>    
            <a class="no-underline" href="https://open.spotify.com/episode/39M2vfaZyacTgaFVClWloN?si=0d307ad127784fe7">
              <div class="row blog-post">
                <div class="col-md-1">
                  <img src="{{ SITEURL }}/theme/img/foundation-safety.png" width="100%" class="rounded-2 mb-2 mt-2" />
                </div>
                <div class="col-md-11 light-black">
                  <h4 class="mb-0 lh-100 space-mono mb-2 mt-2">Foundation Safety Podcast</h4>
                  <p class="mb-0">Talking with host Shay Hill on how to build an online community.</p>
                </div>
              </div>
            </a>
            <hr>                
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  let element = document.getElementById("talks-and-interviews-link");
  element.classList.add("selected-link");
</script>

{% endblock content %}
